{% extends "base.html" %}
{% load custom_filters %}

{% block title %} Log-in {% endblock %}


{% block content %}

    <h1 class="text-center">Log-in</h1>
    {% if form.errors %}
        <div class="alert alert-danger text-center" role="alert">
            Your username and password didn't match. Please Try Again.
        </div>
    {% else %}
        <p class="text-center">Please use the following form to Log-in. If you don't have an account <a style="text-decoration: none;" href="{% url 'register' %}">register here</a>.</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% for field in form %}
            <div class="form-group">
                <label class="form-label" for="{{field.auto_id}}">{{field.label_tag}}</label>
                {{field|add_class:"form-control"}}
            </div>
        {% endfor %}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}">
        <input class="btn btn-success mt-2" type="submit" value="Log-in">
    </form>

    <p>
        <a style="text-decoration: none;" href="{% url 'password_reset' %}">Forgotten your password?</a>
    </p>

{% endblock content %}