{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Reset your password{% endblock title %}

{% block content %}

    <h1 class="text-center">Reset your password</h1>

    {% if validlink %}
        <p>Please enter your password twice:</p>

        <form action="" method="post">
            {% for field in form %}
                <label for="{{field.auto_id}}" class="form-label">{{field.label}}</label>
                {% for error in field.errors %}
                    <p class="p-1 mb-2 bd-danger-subtle text-danger-emphasis rounded text-center">{{error}}</p>
                {% endfor %}
                {{field|add_class:"form-control"}}
            {% endfor %}
            {% csrf_token %}
            <input class="btn btn-success mt-2" type="submit" value="Change my password">
        </form>
    {% else %}
        <p class="text-center alert alert-danger mt-3">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock content %}