{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Reset your password{% endblock title %}


{% block content %}

    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>

    <form action="" method="post">
        {% for field in form %}
            <label for="{{field.auto_id}}" class="form-label">{{field.label}}:</label>
            {% for error in field.errros %}
                <p class="p-1 mb-2 bg-danger-subtle text-danger-emphasis rounded text-center">{{error}}</p>
            {% endfor %}
            {{field|add_class:"form-control"}}
            {{field.help_text}}
        {% endfor %}
        {% csrf_token %}
        <input class="btn btn-primary mt-2" type="submit" value="Send e-mail">
    </form>

{% endblock content %}