{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Create an account{% endblock title %}


{% block content %}

    <h1>Create an account</h1>
    <p>Please sign up using the following form:</p>

    <form action="" method="post">
        {% for field in user_form %}
            <div class="form-group">
                <label for="{{field.auto_id}}" class="form-label">{{field.label}}:</label>
                {% for error in field.errors %}
                <p class="p-1 mb-2 bg-danger-subtle text-danger-emphasis rounded text-center">{{error}}</p>
                {% endfor %}
                {{field|add_class:"form-control"}}
                {{field.help_text}}
            </div>
        {% endfor %}
        {% csrf_token %}
        <input type="submit" value="Create my account" class="btn btn-success mt-2">
    </form>

{% endblock content %}